$light: #FFFFFF;
$dark: #000000;
$primary: #4D13D1;
$secondary: #FBF8F3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.unstyled-list {
  list-style: none;
  padding: 0;
}

a {
  color: primary;
  text-decoration: none;
  &:visited {
    color: unset;
  }
  &:hover {
    text-decoration: underline;
  }
}

.d-flex {
  display: flex;
  flex-direction: column;
  &-column {
    @extend .d-flex;
    flex-direction: column;
  }
  &-row {
    @extend .d-flex;
    flex-direction: row;
  }
}

.d-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;

  @for $i from 1 through 4 {
    &-#{$i} {
      @extend .d-grid;
      grid-template-columns: repeat($i, 1fr);
    }
  }
}

@for $i from 1 through 4 {
  .gap-#{$i} {
    gap: ($i * 1rem);
  }
}

/* Card */

.card {
  border: none;
  border-radius: 7px;
  background-color: white;
  overflow: hidden;
}

// shadow
.shadow {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.281);
}

/* Button & Inputs */

.btn {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.3);
  width: fit-content;
  padding: 0.45em;
  border-radius: 5px;
  border: none;
  &:hover {
    filter: brightness(65%);
  }
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
button {
  font-family: inherit;
  border: none;
  background-color: none;
  border-radius: 5px;
  padding: 0.5em;
  min-width: 50px;
}

// Colors
.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}
.bg-light {
  background-color: $light;
  border:1px solid rgba(0, 0, 0, 0.281)
}
.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}
.color-light {
  color: $light;
}
.color-dark {
  color: $dark;
}

/* Text styling */
.text-center {
  text-align: center;
}

.text-normal {
  font-weight: 400;
}

.text-ul {
  text-decoration: underline;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 700;
}

.text-cap {
  text-transform: uppercase;
}

// Font size
.lead {
  font-size: 1rem;
}

.sm {
  font-size: 0.75rem;
}

.md {
  font-size: 1.5rem;
}

.lg {
  font-size: 2rem;
}

.xl {
  font-size: 3rem;
}

.xxl {
  font-size: 4rem;
}

.xxxl {
  font-size: 5rem;
}

// Width and Height
@for $i from 1 through 100 {
  .w-#{$i} {
    width: ($i * 1%);
  }
  .h-#{$i} {
    height: ($i * 1%);
  }
  .vw-#{$i} {
    width: ($i * 1vw);
  }
  .vh-#{$i} {
    height: ($i * 1vh);
  }
}

/* Margin & Paddings */
@for $i from 1 through 5 {
  .m-#{$i} {
    margin: (1rem + (($i - 1) * 0.5));
  }
  .mx-#{$i} {
    margin: 0 (1rem + (($i - 1) * 0.5));
  }
  .my-#{$i} {
    margin: (1rem + (($i - 1) * 0.5)) 0;
  }
  .mt-#{$i} {
    margin-top: (1rem + (($i - 1) * 0.5));
  }
  .mr-#{$i} {
    margin-right: (1rem + (($i - 1) * 0.5));
  }
  .mb-#{$i} {
    margin-bottom: (1rem + (($i - 1) * 0.5));
  }
  .ml-#{$i} {
    margin-left: (1rem + (($i - 1) * 0.5));
  }
  .p-#{$i} {
    padding: (1rem + (($i - 1) * 0.5));
  }
  .px-#{$i} {
    padding: 0 (1rem + (($i - 1) * 0.5));
  }
  .py-#{$i} {
    padding: (1rem + (($i - 1) * 0.5)) 0;
  }
  .pt-#{$i} {
    padding-top: (1rem + (($i - 1) * 0.5));
  }
  .pr-#{$i} {
    padding-right: (1rem + (($i - 1) * 0.5));
  }
  .pb-#{$i} {
    padding-bottom: (1rem + (($i - 1) * 0.5));
  }
  .pl-#{$i} {
    padding-left: (1rem + (($i - 1) * 0.5));
  }
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  .d-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
  }
}
