@use "variables";
@use "utilities";
@use "nav";
@use "hero";
@use "trial";
@use "testimonials";
@use "footer";

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
}

@media (max-width: 1032px) {
  section.trial {
    padding: 32px;
  }
  section.testimonials {
    padding: 32px;
  }
}

@media (min-width: 769px) {
  .toggler {
    display: none;
  }
}

@media (max-width: 768px) {
  .toggler {
    z-index: 100;
    display: block;
  }
  .nav-menu {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 80vh;
    background: linear-gradient(180deg, white 0%, white 85%, rgba(white, 0) 100%);
    flex-direction: column;
    justify-content: center !important;
    transform: translateY(-130%);
    ul,
    .account-button {
      flex-direction: column;
      align-items: center;
      * {
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }
  section.trial {
    padding: 32px;
  }
  section.testimonials {
    padding: 32px;
  }
}
